html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, fieldset, form, label, legend, caption header, footer, section, nav
{
    border: 0 none;
    font-family: Arial;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
html
{
    height: 100%;
}
body
{
    font: 11px/18px Arial;
}
.main_holder
{
    display: table;
    border: 1px solid #767676;
    background-color: White;
    width: 1254px;
    margin: 0 auto;
}
a
{
    font-family: Times New Roman;
    color: Black;
    font-size: 1.2em;
}
a:hover
{
    text-decoration: none;
}
header#main
{
    background: url(../img/header-bg.png) repeat-x 0 0;
    display: table;
    width: 100%;
}
.logo-holder
{
    float: left;
    width: 210px;
}
.nav-holder
{
    float: left;
}
nav
{
    margin-top: 18px;
    height: 30px;
    float: left;
}
nav ul
{
    float: left;
}
nav ul li
{
    float: left;
    height: 30px;
}
nav ul li a
{
    background: url(../img/navigation.png) no-repeat 0 0;
    height: 30px;
    display: block;
}

nav ul li a:hover
{
    background: url(../img/navigation.png) no-repeat 0 -30px;
}

a.Services
{
    background-position: 0 0;
    width: 85px;
}
a.Services:hover
{
    background-position: 0 -30px;
}

a.Industries
{
    background-position: -85px 0;
    width: 97px;
}
a.Industries:hover
{
    background-position: -85px -30px;
}

a.Careers
{
    background-position: -182px 0;
    width: 84px;
}
a.Careers:hover
{
    background-position: -182px -30px;
}

a.AbousUs
{
    background-position: -265px 0;
    width: 95px;
}
a.AbousUs:hover
{
    background-position: -265px -30px;
}

a.ContactUs
{
    width: 103px;
    background-position: -362px 0;
}
a.ContactUs:hover
{
    background-position: -362px -30px;
}
ection#carousel
{
    min-height: 278px;
    border: 1px solid #9d9d9d;
}

.program-thumbs
{
    border:1px solid  #9d9d9d;
    height: 143px;
    padding: 10px;
}
.thumb-description
{
    padding: 10px;
    background-color: #9d9d9d;
    float: left;
}
.thumb-description header
{
    font-weight: bold;
    font-size: 1.7em;
    color: White;
}
.thumb-description section
{
    font-size: 1.2em;
    margin-top: 5px;
    color: #5f5f5f;
}
button,input[type="submit"]
{
    border: 1px solid #a9a9a9;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #d9d9db;
    color: #3c3c3c;
}
.program-thumbs img
{
    border: 1px solid #afafaf;
}
.program-thumbs ul li
{
    float: left;
    display: inline;
    height: 145px;
    margin-left: 8px;
    margin-right: 8px;
    #width:180px;
}


.program-thumbs #thumb-holder
{
    width: 598px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
#thumb-holder button
{
    margin: 10px auto 0;
    width: 115px;
    display: block;
    font-weight:bold;
}


aside
{
    width: 170px;
    padding: 15px;
    float: left;
}
section#content
{
    width: 640px;
    float: left;
    padding-top: 15px;
}
header#form-header
{
    margin-top:130px;
    padding: 2px 2px 2px 8px;
    background-color: #d8d9db;
    border: 1px solid #aaaaaa;
    color: Black;
}
section#form-field
{
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-top-width: 0;
}
section#form-field fieldset
{
    margin-top: 20px;
}
section#form-field fieldset:first-child
{
    margin-top: 0px;
}
section#form-field fieldset label
{
    width: 135px;
    color:#545454;
    display: block;
    float: left;
}
section#form-field fieldset input[type="text"],input[type="email"],input[type="tel"]
{
    border: 1px solid #cccccc;
    padding-left: 5px;
    font-size: 11px;
    width: 230px;
}

section#form-field fieldset input[type="submit"]
{
    border: 1px solid #a9a9a9;
    font-size: 11px;
    text-transform:uppercase;
    background-color:#d9d9db;
    color:#3c3c3c;
}

#leftNav
{
    margin-top:10px;
}
