html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, fieldset, form, label, legend, caption header, footer, section, nav
{
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
html
{
    height: 100%;
}
body
{
    font: 12px/18px Times New Roman;
    color: #4e3e41;
}
header#app
{
    background: url(../img/bg.gif) repeat-x 0 0;
    display: table;
    padding-bottom: 2px;
    border-bottom: 4px solid #d1d2cc;
    width: 100%;
}
.PageWrapper
{
    margin: 0 auto;
    width: 787px;
}
nav.MainNav
{
    height: 50px;
    float: right;
}
nav.MainNav ul
{
    float: left;
}

nav.MainNav ul li
{
    float: left;
    height: 50px;
}

nav ul li a
{
    background: url(../img/nav.jpg) no-repeat 0 0;
    height: 50px;
    width: 141px;
    display: block;
}
nav ul li a:hover
{
    background: url(../img/nav.jpg) no-repeat 0 -50px;
}

a.Menu1
{
    background-position: 0 0;
}
a.Menu1:hover, a.Selected
{
    background-position: 0 -50px;
}

a.Menu2
{
    background-position: -141px 0;
}
a.Menu2:hover
{
    background-position: -141px -50px;
}

a.Menu3
{
    background-position: -282px 0;
    width: 151px;
}
a.Menu3:hover
{
    background-position: -282px -50px;
}

a.Menu4
{
    background-position: -434px 0;
    width: 162px;
}
a.Menu4:hover
{
    background-position: -434px -50px;
}

.Left
{
    float: left;
}
.BottomBorder
{
    border-bottom: 1px solid #e2e1dd;
}
.Right
{
    float: right;
}

nav.SubNav
{
    padding: 25px 0 35px 0;
}
nav.SubNav a
{
    text-transform: uppercase;
    color: #60534b;
    margin-right: 27px;
    text-decoration: none;
    padding: 0 10px;
}
nav.SubNav a:hover
{
    text-decoration: underline;
}

.Introduction
{
    background: url('../img/bg-introduction-full.gif') no-repeat right bottom #edede5;
    display: block;
    height: 139px;
    padding: 27px 23px;
    font-size: 40px;
    line-height: 45px;
    position: relative;
}
.Source
{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.Orange
{
    color: #a25402;
}
.Red
{
    color: #c33b2f;
}

.Section
{
    line-height: 20px;
    width: 353px;
    height: 175px;
    padding: 45px 20px;
}
.Section p
{
    font-size: 1.2em;
    color: #807482;
}
h2
{
    padding-bottom: 15px;
}

h2:first-letter
{
    font-size: 200%;
}

.Arial
{
    font-family: Arial;
}
.Clear
{
    clear: both;
}
#ClientLogo
{
    width: 100%;
    float: left;
}
#ClientLogo img
{
    border: 1px solid #ecede7;
    float: left;
    padding: 2px 3px;
    margin: 0 15px;
}


footer
{
    border-top: 1px solid #cdc9be;
    display: block;
    min-height: 40px;
    margin-top: 25px !important;
    margin-bottom: 15px !important;
}
footer a, .GrayUnderlineLink
{
    color: #a34142;
    text-decoration: none;
    background: url('../img/gray-underline.gif') repeat-x right bottom;
}

footer a
{
    float: left;
    margin: 10px 0 0 26px;
}

ul.Bullet
{
}
ul.Bullet li
{
    list-style-position: inside;
    list-style-image: url(../img/bullet.gif);
}
#SomeClient
{
    margin-left: 20px;
}
